body {
	/*background-color:#39CCCC;*/
	background-image: url("http://wallpapercave.com/wp/rEOJtOF.jpg");
	background-size: 300px;
	background-repeat: no-repeat;
	border-radius: 35px;
}

h2 {
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 30px;
    padding: -10px;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: Transparent;
  border: none;
  color: rgba(0,0,0,0.6);
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: -25px;
}